flows.json
[{"id":"2140280c.846ea8","type":"tab","label":"WeatherPoller","disabled":false,"info":""},{"id":"bb56590d.a557c8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"78b32c40.071a64","type":"ui_group","z":"","name":"Default","tab":"bb56590d.a557c8","disp":true,"width":"6","collapse":false},{"id":"7efa337a.792dec","type":"debug","z":"2140280c.846ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1200,"y":140,"wires":[]},{"id":"cf76600.6f84ca","type":"inject","z":"2140280c.846ea8","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":100,"wires":[["117fd1cf.374f2e"]]},{"id":"117fd1cf.374f2e","type":"http request","z":"2140280c.846ea8","name":"","method":"GET","ret":"obj","url":"http://api.openweathermap.org/data/2.5/weather?id=524901&appid=60816f972d4c749ffe3176664e4a3f31","tls":"","x":290,"y":100,"wires":[["dd479843.1b7388","cba06fc7.6c3b","c507d03e.86443"]]},{"id":"dd479843.1b7388","type":"debug","z":"2140280c.846ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":40,"wires":[]},{"id":"9adc395.87330c8","type":"ui_gauge","z":"2140280c.846ea8","name":"Weather In Moscow","group":"78b32c40.071a64","order":0,"width":0,"height":0,"gtype":"gage","title":"Погода в Москве","label":"C","format":"{{value}}","min":"-50","max":"50","colors":["#0000ff","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":100,"wires":[]},{"id":"cba06fc7.6c3b","type":"function","z":"2140280c.846ea8","name":"Celcium Convert","func":"msg.payload = (msg.payload.main.temp-273.15).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":100,"wires":[["9adc395.87330c8"]]},{"id":"545402ed.4c86fc","type":"ui_text","z":"2140280c.846ea8","group":"78b32c40.071a64","order":0,"width":0,"height":0,"name":"","label":"Время запроса:","format":"{{msg.payload}}","layout":"row-left","x":780,"y":160,"wires":[]},{"id":"c507d03e.86443","type":"function","z":"2140280c.846ea8","name":"DateTimeFormat","func":"function pad(num, size) {\n    var s = num+\"\";\n    while (s.length < size) s = \"0\" + s;\n    return s;\n}\n\n//calculate local time in Msk\nvar mskOffset = 3;\n\n// create Date object for current location\nvar d = new Date();\n\n// convert to msec\n// add local time zone offset\n// get UTC time in msec\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\n// create new Date object for different city\n// using supplied offset\nvar nd = new Date(utc + (3600000*mskOffset));\n\nvar ndStr = pad(nd.getDate(), 2) + '.' + \n\t\t\t pad((nd.getMonth()+1), 2) + '.' +\n\t\t\t nd.getFullYear() + ' ' +\n\t\t\t pad(nd.getHours(), 2) + ':' +\n\t\t\t pad(nd.getMinutes(), 2) + ':' +\n\t\t\t pad(nd.getSeconds(), 2);\n\t\t\t \nmsg.payload = ndStr;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":160,"wires":[["545402ed.4c86fc"]]}]